h1 {
  display: none;
}

body, .site, #page {
  overflow: initial;
}

strong {
  font-weight: bold !important;
}

.cross-sell h1, .cross-sell h2, .cross-sell h3, .cross-sell h4 {
  margin-top: 0;
}
.cross-sell .clearfix {
  content: "";
  display: table;
  clear: both;
}
.cross-sell .cross-sell-header {
  width: 100%;
}
.cross-sell .cross-sell-header.top {
  margin-top: 2rem;
}
.cross-sell .cross-sell-header.top .added-to-cart {
  width: 100%;
  border: 1px solid #D7D7D7;
  border-bottom: 0;
  display: table;
}
.cross-sell .cross-sell-header.top .added-to-cart .container {
  width: 100%;
  height: 120px;
}
@media screen and (max-width: 768px) {
  .cross-sell .cross-sell-header.top .added-to-cart .container {
    height: auto;
    display: inline-block;
  }
  .cross-sell .cross-sell-header.top .added-to-cart .container:first-child {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    display: block;
  }
  .cross-sell .cross-sell-header.top .added-to-cart .container:first-child .content i {
    display: none;
  }
  .cross-sell .cross-sell-header.top .added-to-cart .container:nth-child(2) {
    width: auto;
    float: left;
  }
  .cross-sell .cross-sell-header.top .added-to-cart .container:nth-child(3) {
    width: 50%;
    float: left;
    margin: 1rem;
    height: 80px;
    line-height: 80px;
  }
  .cross-sell .cross-sell-header.top .added-to-cart .container:nth-child(3) .content {
    line-height: 80px;
  }
}
@media screen and (min-width: 768px) {
  .cross-sell .cross-sell-header.top .added-to-cart .container {
    display: inline-block;
    vertical-align: middle;
  }
  .cross-sell .cross-sell-header.top .added-to-cart .container:before {
    content: '\200B';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .cross-sell .cross-sell-header.top .added-to-cart .container:nth-child(1) {
    width: 40%;
    text-align: right;
  }
  .cross-sell .cross-sell-header.top .added-to-cart .container:nth-child(2) {
    width: 20%;
    text-align: center;
  }
  .cross-sell .cross-sell-header.top .added-to-cart .container:nth-child(3) {
    width: 40%;
    text-align: left;
  }
}
.cross-sell .cross-sell-header.top .added-to-cart .container .content {
  width: 100%;
}
.cross-sell .cross-sell-header.top .added-to-cart .container .content img {
  margin: 1rem 1rem;
  max-height: 80px;
}
@media screen and (min-width: 768px) {
  .cross-sell .cross-sell-header.top .added-to-cart .container .content {
    position: relative;
    top: -50%;
    transform: translateY(-50%);
    margin-top: 0;
    margin-bottom: 0;
  }
}
.cross-sell .cross-sell-header.bottom {
  width: 100%;
  border: 1px solid #D7D7D7;
  display: table;
  padding: 0 2rem;
  background-color: #F8F8F8;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .cross-sell .cross-sell-header.bottom {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
  }
}
.cross-sell .cross-sell-header.bottom .container {
  width: 100%;
  height: 120px;
}
@media screen and (max-width: 768px) {
  .cross-sell .cross-sell-header.bottom .container {
    width: auto;
    height: auto;
    display: block;
    width: 100%;
  }
  .cross-sell .cross-sell-header.bottom .container:nth-of-type(1) {
    order: 1;
    width: 50%;
    float: left;
  }
  .cross-sell .cross-sell-header.bottom .container:nth-of-type(1) div > a {
    float: left;
    margin-top: 10px;
  }
  .cross-sell .cross-sell-header.bottom .container:nth-of-type(2) {
    order: 3;
    margin: 10px 0;
    text-align: center;
  }
  .cross-sell .cross-sell-header.bottom .container:nth-of-type(3) {
    order: 2;
    margin-top: 10px;
    width: 50%;
    float: left;
  }
  .cross-sell .cross-sell-header.bottom .container:nth-of-type(3) div > a {
    float: right;
  }
}
@media screen and (min-width: 768px) {
  .cross-sell .cross-sell-header.bottom .container {
    display: inline-block;
    vertical-align: middle;
  }
  .cross-sell .cross-sell-header.bottom .container:before {
    content: '\200B';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .cross-sell .cross-sell-header.bottom .container:nth-child(1) {
    width: 33%;
    text-align: left;
  }
  .cross-sell .cross-sell-header.bottom .container:nth-child(2) {
    width: 33%;
    text-align: center;
  }
  .cross-sell .cross-sell-header.bottom .container:nth-child(3) {
    width: 33%;
    text-align: right;
  }
}
.cross-sell .cross-sell-header.bottom .container .content {
  width: 100%;
}
.cross-sell .cross-sell-header.bottom .container .content img {
  margin: 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .cross-sell .cross-sell-header.bottom .container .content {
    position: relative;
    top: -50%;
    transform: translateY(-50%);
    margin-top: 0;
    margin-bottom: 0;
  }
}
.cross-sell i.check {
  content: "";
  height: 40px;
  display: inline-block;
  width: 100%;
  margin: 15px 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}
@media screen and (min-width: 992px) {
  .cross-sell i.check {
    margin: 10px 10px 10px 10px;
    width: 35px;
    height: 35px;
    position: absolute;
  }
}

/*# sourceMappingURL=general.css.map */
