h1{
  display: none;
}
.cross-sell {
  h1,h2,h3,h4{
    margin-top: 0;
  }
  .clearfix {
    content: "";
    display: table;
    clear: both;
  }
  i.check{
    content: "";
    background: url(../img/success.svg);
    height: 40px;
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    @media screen and (min-width: 1024px){
      margin: 10px 10px 10px 10px;
      width: 40px;
    }
  }
  &-header {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    margin-top: 20px;

    .left-top{
      background: #fafafa;
    }

    h1,h2,h3,h4{
      margin-top: 0;
    }
    img{
      float: left;
      height: 100px;
      width: auto;
      margin: 5px;
      clear: left;
    }
    &.top{
      border-bottom: 0;
    }
    &.bottom{
      margin-top: 0;
      border-top: 0;
      position: sticky;
      top: 0;
      z-index: 1;
    }
    .item-info,.added-to-cart{
      background: #fafafa;
      height: 100%;
      float: left;
      border-right: 1px solid #eee;
      width: 100%;
      @media screen and (min-width: 1024px){
        width: 50%;
      }

      h3{
        margin-top: 15px;
        text-align: center;
        @media screen and (min-width: 1024px){
          text-align: left;
        }
      }

      &--text{
        float: left;
        padding: 0px 10px;
        width: calc(100% - 120px);

        .product{
          margin-top: 7px;
          clear: none;
          @media screen and (min-width: 1024px) {
            vertical-align: 10px;
          }
        }
      }
    }
    .actions,.cart{
      padding: 10px;
      @media screen and (min-width: 1024px){
        width: 50%;
        float: right;
        clear: none;
      }

      .buttons{
        bottom: 0;
        margin-top: 15px;
        width: 100%;
        @media screen and (min-width: 1024px) {
          float: left;
          margin-top: 20px;
          position: absolute;
          bottom: 5px;
          }

        .button{
          width: auto;
          float: left;

          &.cart{
            margin-right: 10px;
          }
        }
      }
    }
    div.cart{
      display: none;
      @media screen and (min-width: 1024px){
        display: block;
      }
    }
  }
}
