h1{
  display: none;
}

body, .site, #page {
  overflow: initial;
}

strong{
  font-weight: bold !important;
}

.cross-sell {
  h1,h2,h3,h4{
    margin-top: 0;
  }

  .clearfix {
    content: "";
    display: table;
    clear: both;
  }

  .cross-sell-header{
    width: 100%;
    &.top {
      margin-top: 2rem;

      .added-to-cart{
        width: 100%;
        border: 1px solid #D7D7D7;
        border-bottom: 0;

        @media screen and (min-width: 768px) {
          height: 100px;
          display: block;
          padding: 10px;
          overflow: hidden;
        }

        .container {
          display: block;
          width: 100%;
          text-align: center;

          @media screen and (min-width: 768px) {
            display: inline-block;
          }

          &:nth-child(1){
            margin: .75rem 0;
            @media screen and (min-width: 768px) {
              margin: 0;
              float: left;
              width: calc(50% - 100px);

              .content {
                height: 80px;
                line-height: 80px;
                text-align: right;
              }
            }
          }

          &:nth-child(2), &:nth-child(3){
            display: inline-block;
          }

          &:nth-child(2){
            width: 100px;
            margin: 1rem;
            margin-top: 0;
            @media screen and (min-width: 768px) {
              width: 200px;
              margin: 0;

              .content {
                text-align: center;

                img {
                  max-height: 80px;
                  width: auto;
                }
              }
            }
          }

          &:nth-child(3){
            width: calc(100% - (100px + 2rem));
            float: right;
            padding: 1rem;

            div {
              text-align: left;
              margin: 0;

              strong {
                display: block;
              }
            }

            @media screen and (min-width: 768px) {
              margin: 0;
              float: right;
              width: calc(50% - 100px);
              height: 80px;

              div {
                height: auto;
                @include valign;
                strong {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }

    &.bottom {
      width: 100%;
      border: 1px solid #D7D7D7;
      background-color: #F8F8F8;
      margin-bottom: 2rem;

      @media screen and (min-width: 768px) {
        position: relative;
        height: 100px;
        display: block;
      }

      .container {
        display: block;
        margin: .5rem;
        padding: 0 .5rem;

        @media screen and (min-width: 768px) {
          position: absolute;
          @include halign;
          @include valign;
          transform: translateY(-50%) translateX(-50%);
          max-width: 250px;
        }

        .content {
          display: inline-block;
          width: auto;
          line-height: 1.7rem;
          @include halign;
        }
      }

      a {
        display: block;
        margin-bottom: 1rem;
        width: 80%;

        @media screen and (min-width: 525px) {
          width: 50%;
        }

        @media screen and (max-width: 768px) {
          padding: 1rem 2rem;
          border-radius: 10px;
          @include halign;
        }

        @media screen and (min-width: 768px) {
          &.gotoshop {
            @include valign;
            display: inline-block;
            position: absolute;
            left: 15px;
            width: calc(50% - 145px);
            max-width: 250px;

            @media screen and (min-width: 1024px) {
              left: 75px;
            }
          }

          &.cart, &.checkout {
            display: inline-block;
            position: absolute;
            right: 15px;
            width: calc(50% - 145px);
            max-width: 250px;
            margin: 0;

            @media screen and (min-width: 1024px) {
              right: 75px;
            }
          }

          &.cart-with-checkout {
            top: 12px;
          }

          &.checkout-with-cart {
            bottom: 12px;
          }

          &.checkout-without-cart, &.cart-without-checkout {
            @include valign;
            position: absolute;
          }
        }
      }
    }

    /*&.bottom{
        width: 100%;
        border: 1px solid #D7D7D7;
        display:table;
        padding: 0 2rem;
        background-color: #F8F8F8;
        margin-bottom: 2rem;

        @media screen and (max-width: 768px) {
          display: flex;
          -webkit-flex-flow: row wrap;
          justify-content: space-between;
        }

        .container {
          width: 100%;
          height: 120px;

          @media screen and (max-width: 768px) {
            width: auto;
            height: auto;
            display: block;
            width: 100%;

            &:nth-of-type(1){
              order: 1;
              width: 50%;
              float: left;

              div > a{
                float: left;
                margin-top: 10px;
              }
            }

            &:nth-of-type(2){
              order: 3;
              margin: 10px 0;
              text-align: center;
            }

            &:nth-of-type(3){
              order: 2;
              margin-top: 10px;
              width: 50%;
              float: left;

              div > a {
                float: right;
              }
            }
          }

          @media screen and (min-width: 768px) {
            &:before {
              content: '\200B';
              display: inline-block;
              height: 100%;
              vertical-align: middle;
            }
            display: inline-block;
            vertical-align: middle;
            &:nth-child(1) {
              width: 33%;
              text-align: left;
            }
            &:nth-child(2) {
              width: 33%;
              text-align: center;
            }
            &:nth-child(3) {
              width: 33%;
              text-align: right;
            }
          }

          .content {
            width: 100%;
            img {
              margin: 1rem 1rem;
            }
            @media screen and (min-width: 768px) {
              position: relative;
              top: -50%;
              transform: translateY(-50%);
              margin-top: 0;
              margin-bottom: 0;
            }
          }
        }
    }*/
  }


  i.check{
    content: "";
    height: 40px;
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    @media screen and (min-width: 992px){
      margin: 10px 10px 10px 10px;
      width: 35px;
      height: 35px;
      position: absolute;
    }
  }
  &-header {
  }
}
